@font-face {
  font-family: "Less Sans";
  src: url("../fonts/Less Sans/Less.otf");
}

@font-face {
  font-family: "Less Sans";
  font-weight: bold;
  src: url("../fonts/Less Sans/Less-Bold.otf");
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(73, 72, 71);
  background-image: url(../images/inspiration-geometry.png);
  background-size: 22vw;
  font-size: 14;  
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  min-height: calc(100vh - 50em);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5em;
  background-color: rgba(31, 22, 22, 0.74);
}

h1 {
  font-family: 'Less Sans';
  font-weight: bold;
  color: rgb(255, 240, 240);
  letter-spacing: 0.5em;
  font-size: 2.1em;
}


.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 5em);
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
  width: 20%;
}

.search-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;      
  -webkit-box-orient: vertical;      
  -webkit-box-direction: normal;      
      -ms-flex-direction: column;      
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option-list-container {
  background-color: rgba(0, 0, 0, 0.315);
  width: 70%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Less Sans';
  -webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
          box-shadow: 0 0 1em rgba(0,0,0,0.5);
  color: rgb(253, 246, 231);
  cursor: pointer;
}

.label {
  margin: 1em;
  height: 2em;
  font-size: 1em;  
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.label::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2em;  
  font-weight: 900;
  content: '\f107';
  right: 0;
  position: absolute;  
}

.option-list-container:hover {
  background-color: rgba(0, 0, 0, 0.397);
}

ul {
  list-style-type: none;
}

.option-list {
  overflow: auto;
  width: 100%;
  list-style-type: none;
  cursor: pointer; 
  max-height: 20em;
}

.option-list ul {
  padding: 0;
  margin: 0;
}

.option-list li {
  padding: 0.4em;
  font-size: 1em;
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.123);
  position: relative;
}

.option-list li:hover {
	background-color: rgba(0, 0, 0, 0.274);
}

.option-list::-webkit-scrollbar {
	border-radius: 1em;
  width: 5%;
	background-color: rgba(245, 245, 245, 0.178);
}

.option-list::-webkit-scrollbar-thumb {
	border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.527);
}

.get-news {  
  height: 3.5em;
  width: 50%;
  margin-top: 2em;
  font-size: 1em;   
}

button:hover {
	background-color: rgba(0, 0, 0, 0.726);
}

.key-words-container {
  width: 70%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(253, 246, 231); 
  height: 4em;
}

.key-words-container input {
  height: 4em; 
  background-color: rgba(0, 0, 0, 0.315);
  border: none;  
  width: 100%;
  font-family: 'Less Sans';  
  font-size: 1em;    
  color: rgb(253, 246, 231);
  outline: none;
  padding: 0 1em;
  -webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
          box-shadow: 0 0 1em rgba(0,0,0,0.5);  
}

.key-words-container input::-webkit-input-placeholder {
  color: rgb(253, 246, 231);
  font-family: 'Less Sans'; 
}

.key-words-container input:-ms-input-placeholder {
  color: rgb(253, 246, 231);
  font-family: 'Less Sans'; 
}

.key-words-container input::placeholder {
  color: rgb(253, 246, 231);
  font-family: 'Less Sans'; 
}

.key-words-container input:hover {
  background-color: rgba(0, 0, 0, 0.397);
}

button:active {
  -webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
          box-shadow: 0 0 1em rgba(0,0,0,0.5);  
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.527);
  border: none;  
  color: white;
  outline: none;
  font-family: 'Less Sans';
}

.hidden {
 display: none!important;
}

.meta-container {
  padding-bottom: 1em;
}
.right-sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sources-button {
  margin-top: 2em;
  padding: 1em;
  width: 70%;
  font-size: 1em;
  height: 3.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sources-modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(44, 29, 37, 0.698);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow: auto;
}

.humburger {
  display: none;
}
.sources-modal::-webkit-scrollbar { 
  display: none; 
}

.button-spacer {
  min-height: 5em;
  width: 100%;
}

.close-modal-button {
  position: fixed;
  height: 4em;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.close-modal-button:hover{
  background-color: black;
}

.sources-container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70em;
}

.source-item {
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
  height: 11em;
  width: 11em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  font-family: 'Less Sans';
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
  text-align: center;
  margin: 0.5em;
  padding: 1em
}

.source-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.source-item:active {
  -webkit-box-shadow: 0 0 1em rgb(255, 182, 221);
          box-shadow: 0 0 1em rgb(255, 182, 221);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -webkit-box-shadow: 0 calc(-100vw/120) calc(100vw/20) rgba(20, 6, 13, 0.651);
          box-shadow: 0 calc(-100vw/120) calc(100vw/20) rgba(20, 6, 13, 0.651);
  background-color: rgba(8, 1, 4, 0.438);
  height: 100%;
}

.main-wrapper {
  overflow: auto;
  height: calc(100vh - 6em);
  position: relative;
  width: 100%;  
}

.main-wrapper::-webkit-scrollbar { 
  display: none; 
}

article {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  font-family: 'Less Sans';
  padding-bottom: calc(100vw/100);   
}

.article-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.07em solid rgba(255, 255, 255, 0.192);
}

h2 {
  width: 100%;
}

.primary-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  width: 100%;
}

.primary-data img {
  height: 15em;  
  margin-right: calc(100vw/45);
  padding-bottom: 0.4em;
}

.meta-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.651);
}

.meta-label {
  margin-right: calc(100vw/200);
}

.author-container {
  margin-right: calc(100vw/80);
}

.news-link {
  outline: none; 
  text-decoration: none;
  color: rgb(253, 251, 253);
  font-size: 1.3em;
  padding-bottom: 1em;
  position: relative;
}

.news-link:hover {
  -webkit-animation: 0.2s move infinite alternate-reverse;
          animation: 0.2s move infinite alternate-reverse;
}

.news-link:active {
  text-shadow: 0 0 1em white;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em);
  }
}

.news-link::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2em;  
  font-weight: 900;
  content: '\f0a4';  
}

.secondary-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(100vw/100);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  -webkit-box-align: center;  
      -ms-flex-align: center;  
          align-items: center;
  width: 100%;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  width: 100%;  
}

.description {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  width: 50%;
}

.loading {
  opacity: 0.3;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 5em;
  background: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 0%, 0.596)), to(hsla(0, 0%, 1%, 0.11)));
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.596), hsla(0, 0%, 1%, 0.11)); 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;   
  display: -webkit-box;   
  display: -ms-flexbox;   
  display: flex;
  font-size: 1.1em;
  font-family: "Less Sans"; 
}

footer span {
  color: rgba(253, 251, 253, 0.479); 
}

.newsapi-link {
  outline: none; 
  text-decoration: none;
  color: rgb(253, 251, 253);
  margin-left: 1vw;
}

.newsapi-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.newsapi-link:active {
  text-shadow: 0 0 1vw white;
}

.surprise {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden; 
  top: 0;
}

.cat {
  position: absolute;
  bottom: -6em;
  height: 20em;
  -webkit-transition: bottom 1s ease;
  transition: bottom 1s ease;
}

.hidden-cat {
  bottom: -20em;
  -webkit-transition: bottom 1s ease;
  transition: bottom 1s ease;
  
  
}
@media screen and (max-width: 1500px)  {
  .sources-button {
    font-size: 0.9em;
  }

  .primary-data img {
    height: 13em;
  }
}

@media screen and (max-width: 1250px)  {
  body {
    font-size: 12px;
  }

  .primary-data img {
    height: 12em;
  }

  .sources-button {
    width: 80%;
  }
}

@media screen and (max-width: 1000px)  {
  body {
    font-size: 11px;
  }

  .primary-data img {
    height: 11em;
  }

  .sources-button {
    width: 90%;
    font-size: 0.8em;
  }

  .option-list-container, .key-words-container {
    width: 90%;
  }
}

@media screen and (max-width: 768px)  {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    background-color: #272626fa
  }

  .header-spacer {
    height: 5em;
  }

  body {
    font-size: 10px;
  }

  .main-wrapper {
    min-height: calc(100vh - 6em);
    height: auto;
    overflow: visible;
  }

  .right-sidebar {
    display: none;
  }

  main {
    width: 80%;
  }

  h2 {
    font-size: 1.3em;
  } 

  .search-options {
    position: fixed;
    z-index: 3;
    left: 0;
    background: rgb(70, 50, 50);
    width: 50%;
    padding: 2em;
    height: calc(100vh - 9em);
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-image: url(../images/inspiration-geometry.png);
    background-size: 22vw;
    display: none;
  }

  .meta-container {
    font-size: 0.9em;
  }

  .visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sources-humb {    
    right: 0;    
  }

  .humburger {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2.8em;  
    font-weight: 900;
    color: white;
    top: 0;
    margin: 0.35em;
    position: absolute;
    cursor: pointer;
  }

  .options-humb {    
    left: 0;   
  }
 
  .humburger:hover {
   color: rgb(156, 155, 155);
  }

  .humburger:active {
    color: white;    
    text-shadow: 0 0 2vw white;
  }

  .sources-container {
    width: 47.2em;
    font-size: 1.1em;
  }
  
  .source-item {
    height: 9em;
    width: 9em;
    margin: 0.4em;
  }

  .key-words-container input {
    padding: 0 1.6em;
  }
}

@media screen and (max-width: 600px)  {
  .primary-data img {
    height: 15em;
    margin: 0 0 1em 0;
  }

  .primary-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .description {
    width: 90%;    
  }
}

@media screen and (max-width: 530px)  {
  .sources-container {
    width: 35.4em;
  }
}

@media screen and (max-width: 500px)  {
  .primary-data img {
    height: 12em;
  }
}

@media screen and (max-width: 400px)  {
  .main-wrapper {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .search-options {    
    width: 60%;    
  }

  .sources-container {
    width: 28.8em;
  }

  .article-wrapper {
    width: 100%;
  }
  
  .source-item {
    height: 7em;
    width: 7em;
    margin: 0.3em;
  }
}
